openapi: 3.0.3
info:
  title: Air Travel Assistance Band (ATAB) API
  version: "1.0.0"
  description: |
    REST API for the Air Travel Assistance Band (ATAB) system. Enables communication
    between ATAB devices, airport servers, and centralized backend for device
    provisioning, notifications, audio content, flight info and configuration.
servers:
  - url: https://api.atab.airport.com/v1
    description: Production
  - url: https://api-staging.atab.airport.com/v1
    description: Staging
tags:
  - name: Device Management
    description: Device registration, status updates and authentication
  - name: Notifications
    description: Notification retrieval and acknowledgement
  - name: Content
    description: Audio and voice profile endpoints
  - name: Flight
    description: Flight status and passenger-specific flight info
  - name: Configuration
    description: Device configuration endpoints
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    DeviceRegistrationRequest:
      type: object
      required:
        - device_id
        - pnr
        - passenger
        - flight
      properties:
        device_id:
          type: string
          example: ATAB-001234567890
        pnr:
          type: string
          example: ABC123
        passenger:
          type: object
          required:
            - first_name
            - last_name
          properties:
            first_name:
              type: string
              example: John
            last_name:
              type: string
              example: Doe
            seat_number:
              type: string
              example: 12A
            special_assistance:
              type: array
              items:
                type: string
              example: ["hearing_impaired"]
            preferred_language:
              type: string
              example: en-US
        flight:
          type: object
          required:
            - flight_number
            - departure_date
            - departure_time
            - origin
            - destination
          properties:
            flight_number:
              type: string
              example: AA1234
            departure_date:
              type: string
              format: date
              example: "2025-12-22"
            departure_time:
              type: string
              format: date-time
              example: "2025-12-22T14:30:00Z"
            origin:
              type: string
              example: LAX
            destination:
              type: string
              example: JFK
            gate:
              type: string
              example: B12
            terminal:
              type: string
              example: "2"
        voice_profile:
          type: object
          properties:
            file_id:
              type: string
              example: voice_abc123
            duration:
              type: number
              format: float
              example: 5.2
            language:
              type: string
              example: en-US

    DeviceRegistrationResponse:
      type: object
      properties:
        device_token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        registration_id:
          type: string
          example: REG-789012345
        expires_at:
          type: string
          format: date-time
          example: "2025-12-23T23:59:59Z"
        config:
          type: object
          properties:
            polling_interval:
              type: integer
              example: 30
            notification_types:
              type: array
              items:
                type: string
              example: ["boarding", "gate_change", "delay"]
            audio_volume:
              type: integer
              example: 70
        wifi_credentials:
          type: object
          properties:
            ssid:
              type: string
              example: ATAB_LAX_Secure
            password:
              type: string
              example: temp_pass_123

    DeviceStatusUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [active, inactive, returned, lost]
          example: active
        battery_level:
          type: integer
          minimum: 0
          maximum: 100
          example: 85
        signal_strength:
          type: integer
          example: -45
        last_seen:
          type: string
          format: date-time
          example: "2025-12-22T10:30:00Z"
        location:
          type: object
          properties:
            terminal:
              type: string
              example: "2"
            area:
              type: string
              example: B_gates

    DeviceStatusUpdateResponse:
      type: object
      properties:
        status:
          type: string
          example: updated
        next_poll_time:
          type: string
          format: date-time
          example: "2025-12-22T10:31:00Z"

    Notification:
      type: object
      properties:
        id:
          type: string
          example: NOTIF-001
        type:
          type: string
          example: gate_change
        priority:
          type: string
          enum: [low, medium, high, critical]
          example: high
        created_at:
          type: string
          format: date-time
          example: "2025-12-22T10:25:00Z"
        expires_at:
          type: string
          format: date-time
          example: "2025-12-22T14:30:00Z"
        title:
          type: string
          example: Gate Change
        message:
          type: string
          example: "Your flight AA1234 gate has changed to B15"
        display_text:
          type: string
          example: "GATE: B15"
        audio:
          type: object
          properties:
            standard_message_id:
              type: string
              example: gate_change_en
            custom_voice_trigger:
              type: boolean
              example: true
        visual_alert:
          type: object
          properties:
            led_pattern:
              type: string
              example: red_blink_fast
            vibration_pattern:
              type: string
              example: long_short_long
        acknowledgment_required:
          type: boolean
          example: true

    NotificationListResponse:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        has_more:
          type: boolean
          example: false
        last_updated:
          type: string
          format: date-time
          example: "2025-12-22T13:45:00Z"

    AckRequest:
      type: object
      properties:
        acknowledged_at:
          type: string
          format: date-time
          example: "2025-12-22T10:26:30Z"
        user_action:
          type: string
          example: viewed

    VoiceProfileResponse:
      type: object
      properties:
        voice_profile:
          type: object
          properties:
            file_url:
              type: string
              format: uri
              example: https://audio-cdn.atab.com/voice/abc123.mp3
            duration:
              type: number
              format: float
              example: 5.2
            language:
              type: string
              example: en-US
            expires_at:
              type: string
              format: date-time
              example: "2025-12-23T23:59:59Z"

    FlightStatusResponse:
      type: object
      properties:
        flight:
          type: object
          properties:
            flight_number:
              type: string
              example: AA1234
            status:
              type: string
              example: on_time
            departure_time:
              type: string
              format: date-time
              example: "2025-12-22T14:30:00Z"
            actual_departure:
              type: string
              format: date-time
              nullable: true
              example: null
            gate:
              type: string
              example: B15
            gate_changed:
              type: boolean
              example: true
            gate_change_time:
              type: string
              format: date-time
              example: "2025-12-22T10:25:00Z"
            terminal:
              type: string
              example: "2"
            boarding_status:
              type: string
              example: started
            boarding_time:
              type: string
              format: date-time
              example: "2025-12-22T13:45:00Z"
            boarding_closes:
              type: string
              format: date-time
              example: "2025-12-22T14:15:00Z"
        passenger:
          type: object
          properties:
            seat_number:
              type: string
              example: 12A
            boarding_group:
              type: string
              example: "3"
            checkin_status:
              type: string
              example: completed
        next_update:
          type: string
          format: date-time
          example: "2025-12-22T10:32:00Z"

    ConfigResponse:
      type: object
      properties:
        config:
          type: object
          properties:
            polling_interval:
              type: integer
              example: 30
            notification_types:
              type: array
              items:
                type: string
              example: ["boarding", "gate_change", "delay", "baggage"]
            audio_settings:
              type: object
              properties:
                volume:
                  type: integer
                  example: 70
                voice_trigger_enabled:
                  type: boolean
                  example: true
                language:
                  type: string
                  example: en-US
            display_settings:
              type: object
              properties:
                brightness:
                  type: integer
                  example: 80
                timeout:
                  type: integer
                  description: seconds
                  example: 10
            alert_settings:
              type: object
              properties:
                vibration_enabled:
                  type: boolean
                  example: true
                led_enabled:
                  type: boolean
                  example: true
            timezone:
              type: string
              example: America/Los_Angeles

    UpdateConfigRequest:
      type: object
      properties:
        audio_settings:
          type: object
          properties:
            volume:
              type: integer
              example: 85
        alert_settings:
          type: object
          properties:
            vibration_enabled:
              type: boolean
              example: false

    GenericResponse:
      type: object
      properties:
        status:
          type: string
          example: updated
        updated_fields:
          type: array
          items:
            type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: INVALID_DEVICE_ID
            message:
              type: string
              example: The specified device ID is not valid
            details:
              type: string
              example: Device ATAB-999999999999 not found in system
            timestamp:
              type: string
              format: date-time
              example: "2025-12-22T10:30:00Z"
            request_id:
              type: string
              example: req-12345

  responses:
    RateLimitHeaders:
      description: Rate limit information
      headers:
        X-RateLimit-Limit:
          description: The rate limit ceiling for the current request
          schema:
            type: integer
            example: 60
        X-RateLimit-Remaining:
          description: The number of requests left for the time window
          schema:
            type: integer
            example: 45
        X-RateLimit-Reset:
          description: UNIX timestamp when the rate limit resets
          schema:
            type: integer
            example: 1640188800

paths:
  /devices/register:
    post:
      tags:
        - Device Management
      summary: Register a new device with passenger and flight information
      operationId: registerDevice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegistrationRequest'
      responses:
        '201':
          description: Device registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRegistrationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /devices/{device_id}/status:
    put:
      tags:
        - Device Management
      summary: Update device status and health information
      operationId: updateDeviceStatus
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusUpdate'
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStatusUpdateResponse'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/responses/RateLimitHeaders#/headers/X-RateLimit-Limit'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /devices/{device_id}/notifications:
    get:
      tags:
        - Notifications
      summary: Retrieve pending notifications for the device
      operationId: getNotifications
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: ISO 8601 timestamp to filter notifications since this time
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
        - name: types
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated notification types
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/responses/RateLimitHeaders#/headers/X-RateLimit-Limit'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /devices/{device_id}/notifications/{notification_id}/ack:
    post:
      tags:
        - Notifications
      summary: Acknowledge a notification
      operationId: acknowledgeNotification
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
        - name: notification_id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AckRequest'
      responses:
        '200':
          description: Acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /devices/{device_id}/audio/{message_id}:
    get:
      tags:
        - Content
      summary: Download audio file for standard message
      operationId: getAudioContent
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
        - name: message_id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Binary audio data (MP3)
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
          headers:
            Cache-Control:
              description: Caching header
              schema:
                type: string
                example: max-age=3600
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /devices/{device_id}/voice-profile:
    get:
      tags:
        - Content
      summary: Retrieve passenger's custom voice recording metadata (URL)
      operationId: getVoiceProfile
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Voice profile metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceProfileResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /devices/{device_id}/flight:
    get:
      tags:
        - Flight
      summary: Get current flight information and status
      operationId: getFlightStatus
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Flight status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightStatusResponse'
        '404':
          description: Flight not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /devices/{device_id}/config:
    get:
      tags:
        - Configuration
      summary: Retrieve device configuration settings
      operationId: getDeviceConfig
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Configuration
      summary: Update device configuration settings
      operationId: updateDeviceConfig
      parameters:
        - name: device_id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConfigRequest'
      responses:
        '200':
          description: Configuration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /health:
    get:
      tags:
        - Device Management
      summary: Health check endpoint
      operationId: healthCheck
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  time:
                    type: string
                    format: date-time
                    example: "2025-12-22T10:30:00Z"

externalDocs:
  description: Full API overview and examples
  url: https://api.atab.airport.com/docs
